* {
    margin: 0 auto;
    padding: 0 auto;
}

a{
    color:#ffff;
    text-decoration: none;
}
.CSS{
    background-color: #1C1C26;
    color:#ffffff;
    margin:15px;
    padding:15px;
    border: 7px solid #637175;
    border-radius: 20px;
    opacity: 0.7;
    box-shadow:8px 8px 7px #000000;
    text-align: center;
}
.CSS:hover{
    opacity:1;

}

.Kerrigan{
    background-color:#502E3F;
    color:#ffff;
    margin-top:300px;
    margin-left: 1030px;
    padding: 15px;
    border: 10px solid #39202B;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 4px 4px 30px #39202B;
    width: 100px;
    text-align: center;
    transform: rotate(17deg);
    opacity:0.8;
    position: relative;

}
.Kerrigan:hover{
    opacity:1;
}
.Raynor{
    background-color:#1B1B21;
    color:#ffff;
    margin-top:100px;
    margin-left: 320px;
    padding: 15px;
    border: 10px solid #2F2D32;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 4px 4px 30px #2F2D32;
    width: 100px;
    text-align: center;
    opacity:0.8;
}
.Raynor:hover{
    opacity:1;
}
.Artanis{
    background-color:#181929;
    color:#ffff;
    margin-top:-110px;
    margin-left: 730px;
    padding: 15px;
    border: 10px solid #161C33;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 4px 4px 30px #161C33;
    width: 100px;
    text-align: center;
    opacity:0.8;
}
.Artanis:hover{
    opacity:1;
}

body{
    background-image: url(image/ST2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
